<div class="container">

  <div>
    <acme-navbar creation-date="list.creationDate"></acme-navbar>
  </div>

  <div>
    <h2>List</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Player</th>
          <th>Stats</th>
          <th>Position</th>
          <th>Nationality</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="player in list.players | orderBy: '-stats'" ng-click="list.selectFootballer($event, player)" ng-class="{ info: player.selected }">
          <th scope="row">{{player.number}}</th>
          <td>{{player.name}}</td>
          <td>{{player.stats}}</td>
          <td>{{player.position}}</td>
          <td>{{player.nationality}}</td>
        </tr>
      </tbody>
    </table>
    <nvd3 options="list.options" data="list.extendedStats" api="list.api"></nvd3>
  </div>

</div>
